@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=VT323&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Roboto", sans-serif;
  background: black;

  animation: animatedText 3s infinite;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

p {
  color: white;
  font-size: 1.5rem;
}

img {
  width: 50%;
  max-width: 20rem;
}

.title {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #d2f700,
    #d9ff00,
    #00ffdd
  );
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;

  animation: animatedText 3s infinite alternate-reverse;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}
