@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=VT323&family=Work+Sans&display=swap");

:root {
  --black-tpku: #010510;
  --grey-tpku: #666971;
  --light-pink-tpku: #ffdfdf;
  --light-grey-tpku: #e5e5e5;
  --white-tpku: #fff9f9;
  --yellow-tpku: #ffc700 ;
}


html { 
  scroll-behavior:smooth;
} 

* {
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
}

a {
  color: var(--light-pink-tpku);
  text-decoration: none;
  font-size: 32px;
  margin-left: 10px;
}

a:hover {
  color: var(--light-grey-tpku);
  transition-duration: 120ms;
}

a:active {
  color: var(--black-tpku);
}

header {
  position: fixed;
  height: 50px;
  width: 1000px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Roboto", sans-serif;
  text-align: center;

  background-image: url(./img/bg-winter-island.png), url(#), url(#);
  background-repeat: repeat;
  background-color: white;
  background-position-x: center;
  background-position-y: top;
}

main > div {
  padding-top: 100px;
  height: 1080px;
}

/* #site-start {
  background: url(./img/bg-molle.png);

} */
